
/*
 |--------------------------------------------------------------------------
 | Horizontal Ruler
 |--------------------------------------------------------------------------
*/

hr {
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #fff;
  &.sm {
    margin: 0.5rem 0;
  }
}